@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Work sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 900;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  align-self: center;
}

button:hover {
  border-color: #646cff;
}

.projectcard {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 20vw;*/
  border-radius: 10px;
  overflow: hidden;
}

.projectimg {
  width: 100%;
  border-radius: 10px;
}

button {
  margin-right: 16px;
}